body {
  flex-direction: column;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  background-color: white;
  font-family: "Sofia", sans-serif;
  color: rgb(165, 68, 41);
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: flex;
  gap: 30px;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px; 
}

.text-one {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.introduction {
  display: flex;
  margin-top: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
  align-items: center;
}

.complete-text {
  flex-direction: column;
  margin-right: 8px;
  color: white;
  padding: 7px 7px;
}

.image-one {
  width: 200px;
  border-radius: 30px;
}

button {
  color: white;
  background-color:rgb(165, 68, 41);
  padding: 7px 8px;
  font-family: "Sofia", sans-serif;
  font-weight: bold;
  border-radius: 12px;
  border:0.16em solid rgba(255,255,255,0);
}

button:hover {
  background-color:rgb(165, 68, 41);
  border-color: rgba(255,255,255,1);
}

.body-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.psycho-images{
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}

.psychotic-images {
  max-width: 225px;
  max-height: 150px;
  border-radius: 15px;
  border: 3px solid;
  border-color:rgb(165, 68, 41);
}

.title-two {
  font-family: "Sofia", sans-serif;
  font-size: 24px;
  padding: 15px 0px;
  font-weight: bold;
}