body {
  flex-direction: column;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  background-color: white;
  font-family: "Sofia", sans-serif;
  color: rgb(165, 68, 41);
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: flex;
  gap: 30px;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px; 
}

.text-one {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.introduction {
  display: flex;
  margin-top: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
  align-items: center;
}

.complete-text {
  flex-direction: column;
  margin-right: 8px;
  color: white;
  padding: 7px 7px;
}

.image-one {
  width: 200px;
  border-radius: 30px;
}

button {
  color: white;
  background-color:rgb(165, 68, 41);
  padding: 7px 8px;
  font-family: "Sofia", sans-serif;
  font-weight: bold;
  border-radius: 12px;
  border:0.16em solid rgba(255,255,255,0);
}

button:hover {
  background-color:rgb(165, 68, 41);
  border-color: rgba(255,255,255,1);
}

.boxes {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.img-group {
  max-width: 225px;
  max-height: 150px;
  border-radius: 15px;
  border: 3px solid;
  border-color:rgb(165, 68, 41);
}

.title-two {
  font-family: "Sofia", sans-serif;
  font-size: 24px;
  padding: 15px 0px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.area-three {
  background: rgb(165, 68, 41);
  color:white;
  font-family: "Sofia", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.quote, .author {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
}

.quote {
  font-size: 30px;
}

.area-four {
  display: flex;
  margin: 60px;
  padding: 40px;
  background-color: black;
  color: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.title-four {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 4px;
}

.sign-up-button {
  flex-shrink: 0;
}

.footer {
  height: 72px;
  background: white;
  color:rgb(165, 68, 41);
  display: flex;
  align-items: center;
  justify-content: center;
}